{% extends 'base.html' %}

{% block head %}
<title>Create Park</title>
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div class="container" style="margin-top:80px">
<div class="jambotran">
      <h2 class="py-3">Create new Park</h2>
      <div class="form bg-white p-5">
        <form method="POST" action="/parks/create" enctype="multipart/form-data">
            <!-- Somehow make the user object reach here -->
            <input type="hidden" name="user_id" value="{{user.id}}"/>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name"  placeholder="Enter Park Name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="lat">Latitude</label>
                <input type="text" class="form-control" id="lat"  placeholder="1.0" name="lat" required>
            </div>
            <div class="form-group">
                <label for="lng">Longitude</label>
                <input type="text" class="form-control" id="lng"  placeholder="1.0" name="lng" required>
            </div>
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
</div>
</div>
{% endblock %}