<header>
  <div class="navbar fixed-top navbar-dark bg-dark shadow-sm">    
      <div class="container d-flex justify-content-between">        
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a href="/users/{{user.id}}/posts" class="nav-link {%if current_page == 'myposts' %} active {% endif %}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">
            <strong>My Posts</strong></a>
          </li>
          <li class="nav-item">
            <a href="/users/{{user.id}}/subscriptions" class="nav-link {%if current_page == 'mysubscriptions' %} active {% endif %}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">
            <strong>My Subscriptions</strong></a>
          </li>
          <li class="nav-item">
            <a href="/parks/create" class="nav-link {%if current_page == 'createpark' %} active {% endif %}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">
            <strong>Create Park</strong></a>
          </li>
          <li class="nav-item">
            <a href="/parks" class="nav-link {%if current_page == 'viewparks' %} active {% endif %}" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">
            <strong>Parks</strong></a>
          </li>
        </ul>

        <a class="navbar-brand d-flex align-items-center">
        <div class="container">
          <div class="row">
            <form class="form-inline my-2 my-lg-0" action="/posts/tag" method="POST">
              <input class="form-control mr-sm-2" id="searchtext" name="searchtext" type="text" placeholder="Search for tags" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
        </a>
      <a id="sign-out" href="/logout" class="navbar-brand d-flex align-items-center">
        <button class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
      </a>
    </div>
  </div>
</header>
<script>
  $(document).ready(function () {
  $("#{{request.endpoint}}").addClass("active"); })
</script>
