<header>
  <div class="navbar fixed-top navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="/users/{{user.id}}/posts" class="navbar-brand d-flex align-items-center">
        <strong>My Posts</strong>
      </a>
      <a href="/users/{{user.id}}/subscriptions" class="navbar-brand d-flex align-items-center">
        <strong>My Subscriptions</strong>
      </a>
      <a href="/parks/create" class="navbar-brand d-flex align-items-center">
        <strong>Create Park</strong>
      </a>
      <a href="/parks" class="navbar-brand d-flex align-items-center">
        <strong>Parks</strong>
      </a>


        <a class="navbar-brand d-flex align-items-center">
        <div class="container">
          <div class="row">
            <form class="form-inline my-2 my-lg-0" action="/posts/tag" method="POST">
              <input class="form-control mr-sm-2" id="searchtext" name="searchtext" type="text" placeholder="Search for tags" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
        </a>
      <a id="sign-out" href="/logout" class="navbar-brand d-flex align-items-center">
        <button class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
      </a>
    </div>
  </div>
</header>
