{% extends 'base.html' %}

{% block head %}
    <title>Parks</title>
{% endblock %}

{% block body %}
<main role="main">

  <div class="album py-5 bg-light">

    <div class="container">

      <div class="row">
        {% for park in parks %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <a href="/parks/{{park.id}}/posts" class="navbar-brand d-flex align-items-center">
                <strong>{{ park.name }}</strong>
              </a>
              <p class="card-text">{{ park.description }}</p>
              <p class="card-text">{{ park.user.name }}</p>

              <form method="POST"  action="/subscriptions/create">
                <div class="d-flex justify-content-between align-items-center">
                  <input type="hidden" name="park_id" id="park_id" value="{{ park.id }}"/>
                  <input type="hidden" name="user_id" value="5f270f6c7927018b7c37646c"/>
                  <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">subscribe</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
